@import '_colors.scss';

:deep(.ck) {
  ul,
  ol {
    padding-left: 30px;
  }
}

:deep(.ck-content) {
  ul,
  ol {
    padding-left: 30px;
  }
}

:deep() {
  img {
    -webkit-user-drag: none;
    // width: 100%;
  }
}

* {
  color: $default_text;
}
